.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}   
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color:white;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #000;
}
.facebook {
  background: blue;
  color: white;
}  
.instagram {
   background: #ff9e78c4;
   color: rgb(221, 41, 41);
}
#how{
    align-content: center;
}
h4{
    font-family: "HelloKennedy";
    font-size: 30px;
    text-align: center; 
}
p{
    text-align: center;
}
@font-face{
    font-family: "HelloKennedy";
    src: url("Hellokennedy") format("woff");
    font-weight: normal;
    font-style: normal;  
}
@font-face{
    font-family: "NKmono";
    src: url("NK-Mono") format("woff");
    font-weight: normal;
    font-style: normal;
}
.as{
    font-family: "HelloKennedy";
    font-size: 20px;
}
body{
    background-image: url(fondo.jpg)
}
#nombre{
    align-content: left;
}
#titulo{
    text-align: center;
    font-family: "HelloKennedy";
}
#nav{
    width: 100%;
    position: fixed;
    opacity: 0.5;
    z-index: 100;
}
#logo{
    margin: 50px;
}
iframe{
    align-content: center;
}
.nav-link{
    font-family: "HelloKennedy"
}
#pd{
    font-family: "HelloKennedy"
}
@keyframes zoomIn {
from {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
}
  
 50% {
  opacity: 1;
 }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
#titulo{
    -webkit-animation: "ZoomIn";
}
form{
    font-family: "HelloKennedy";
}
h5{
    font-family: "HelloKennedy";
}
#spons{
    text-align: center;
    font-family: "HelloKennedy";
}